$bar-color: rgba(0, 0, 0, 0.1);
$handler-color: #fff;
$checked-color: #ff8905;

.switch {

  position: relative;
  width: 40px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;

  label {
    display: block;
    cursor: pointer;
    margin-bottom: 0;
  }

  .switch-bar {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: $bar-color;
    width: 100%;
    height: 12px;
    display: inline-block;
  }

  .switch-handler {
    position: absolute;
    background: $handler-color;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    -webkit-box-shadow: 0 0px 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0px 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0px 1px 2px rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;

    div {
      position: absolute;
      background: rgba(#000, .05);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
      -moz-transition: all .3s cubic-bezier(.25,.8,.25,1);
      transition: all .3s cubic-bezier(.25,.8,.25,1);
      -webkit-transition-delay: 0.05s;
      -moz-transition-delay: 0.05s;
      -ms-transition-delay: 0.05s;
      -o-transition-delay: 0.05s;
      transition-delay: 0.05s;

      &.is-scale {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        transform: scale(1);
        z-index: -1;
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  &.is-checked {
    .switch-handler {
      background: $checked-color;
      left: 20px;

      div {
        z-index:-1;
      }
    }

    .switch-bar {
      background: rgba($checked-color, 0.3);
    }
  }


}
